name: Build and Publish Docker Images to JFrog

on: workflow_dispatch

      
env:
  DOCKER_IMAGE_NAME: "myimage"
  DOCKER_IMAGE_TAG: "latest"      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Build and tag Docker image
        run: |
          docker build -t ${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_TAG }} .
          docker tag $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG 10.130.17.119:8082/artifactory/testdocker/${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_TAG }}
          
      - name: Login to JFrog Docker registry
        uses: jfrog/setup-jfrog-cli@v1
        with:
          jfrog-url: 'http://10.130.17.119:8082/'
          jfrog-username: ${{ secrets.JF_USER }}
          jfrog-password: ${{ secrets.JF_PASSWORD }}
      - run: |
          docker login 10.130.17.119:8082 -u ${{ secrets.JF_USER }} -p ${{ secrets.JF_PASSWORD }}
          
      - name: Push Docker image to JFrog registry
        run: |
          docker push 10.130.17.119:8082/artifactory/testdocker/${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_TAG }}
